<div class="row">
    <div class="col-lg-12">
        <h4><p>Product info (Delivery)</p></h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="name">Product Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" name="name" ngModel required #name="ngModel">
                <span class="text-danger" *ngIf="!name.valid && name.touched">Please enter a name</span>
              </div>
              <div class="form-group col-md-3">
                <label for="weight">Weight</label>
                <input type="number" class="form-control" id="weight" placeholder="Weight" name="weight" ngModel required #weight="ngModel">
                <span class="text-danger" *ngIf="!weight.valid && weight.touched">Please enter a weight</span>
              </div>
              <div class="form-group col-md-2">
                <label for="cost">Cost</label>
                <input type="text" class="form-control" id="cost" placeholder="Cost" name="cost" ngModel #cost="ngModel">
                <span class="text-danger" *ngIf="!cost.valid && cost.touched">Please enter a cost</span>
              </div>
              <div class="form-group col-md-2">
                <label for="currency">Currency</label>
                <select class="form-control" id="currency" name="currency" required ngModel #currency="ngModel">
                  <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency.name}}</option>
                </select>
                <span class="text-danger" *ngIf="!currency.valid && currency.touched">Please enter a currency</span>
              </div>
              <div class="form-group col-md-2">
                <label for="producttype">Product Type</label>
                <select class="form-control" id="producttype" name="producttype" required ngModel #producttype="ngModel">
                  <option *ngFor="let type of producttypes" [ngValue]="type">{{type.name}}</option>
                </select>
                <span class="text-danger" *ngIf="!producttype.valid && producttype.touched">Please enter a producttype</span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="when">When</label>
                <input type="date" class="form-control" id="when" placeholder="When" name="when" ngModel required #when="ngModel">
                <span class="text-danger" *ngIf="!when.valid && when.touched">Please enter a date</span>
              </div>
              <div class="form-group col-md-3">
                <label for="wherefrom">From</label>
                <input type="text" class="form-control" id="wherefrom" placeholder="From" name="wherefrom" ngModel required #wherefrom="ngModel">
                <span class="text-danger" *ngIf="!wherefrom.valid && wherefrom.touched">Please enter a sender</span>
              </div>
              <div class="form-group col-md-3">
                <label for="whereto">To</label>
                <input type="text" class="form-control" id="whereto" placeholder="To" name="whereto" ngModel required #whereto="ngModel">
                <span class="text-danger" *ngIf="!whereto.valid && whereto.touched">Please enter a destination</span>
              </div>
              <div class="form-group col-md-2">
                <label for="volume">Volume</label>
                <input type="text" class="form-control" id="volume" placeholder="Volume" name="volume" ngModel>
              </div>
            </div>
            <div class="form-group">
                <label for="picture">Picture</label>
                <input type="file" class="form-control-file" id="picture" name="picture" ngModel #image (change)="preview(image.files)">
                <span style="color:red;" *ngIf="message">{{message}}</span>
                <img *ngFor='let url of images'  [src]="url" height="150" width="200px" style="margin: 3px;"> <br/>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="description" required ngModel #description="ngModel"></textarea>
                    <span class="text-danger" *ngIf="!description.valid && description.touched">Please enter a description</span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Publish</button>
          </form>
    </div>
</div>